#page-wrapper-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto;
    width: auto;
}

#page-wrapper {
    width: 100%;
    position: relative;
    @include transition(left .5s ease);

	.js & {
        left: 0;
	}
  
	.js.js-nav & {
        left: $nav-off-canvas-width;
	}
}