// section


.section {
	border: 1px solid #eee;
}

.section-content {
	padding: 1em;
}

.section-title {
	margin: 0;
	background: #eee;
	padding: 1em;
	font-weight: bold;
	text-transform: uppercase;
}